* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}

.header,
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    border-bottom: 4px solid #00aaff;
}

.footer {
    border-top: 4px solid #00aaff;
}

.container {
    display: flex;
    /* flex: 1; */  
    flex-shrink: 1;   /*عنصر می‌تواند کوچک شود تا در صورت نیاز با دیگر عناصر جا بگیرد.*/
    flex-grow: 1;   /*عنصر می‌تواند در جهت اصلی فلکس (معمولاً عرض) رشد کند و فضای باقیمانده را پر */
    flex-basis: 0;  /*اندازه اولیه عنصر برای محاسبات فلکس از 0 شروع می‌شود و سپس با توجه به فضای باقیمانده و نسبت به "فلکس گرو" تغییر می کند تغییر می‌کند.*/
}

.sidebar {
    background:linear-gradient(45deg, rgba(0, 255, 213, 0.808),
    rgba(4, 0, 255, 0.411), rgba(0, 255, 213, 0.808));
    padding: 20px;
    width: 25%;
    min-width: 200px;
    border-right: 1px solid #ddd;
    box-shadow: 5px 0px 20px black;text-shadow: 0 0 20px white;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #00aaff;
    color: white;
}

.main-content {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.801),
            rgba(0, 145, 55, 0.596), rgba(255, 255, 255, 0.808)),
        url('/assets/images/n1.jpg') fixed center;
    background-size: cover;
    padding: 30px;
    flex: 1;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
    color: #00aaff;
    margin-bottom: 20px;
}

.main-content p {
    line-height: 1.6;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

button {
    padding: 10px;
    background-color: #005acf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4cae4c;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }

    .main-content {
        border-left: none;
    }
}